@model StoreMVC.Models.ProductDetailsViewModel

    <div>
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity On Hand</th>
                    <th>Price Per Gram</th>
                    <th>Add to Cart?</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ProductID</td>
                    <td>@Model.ProductName</td>
                    <td>@Model.Quantity</td>
                    <td>@Model.Price</td>
                    <td><a>asp-controller="Store" asp-action="AddToCart" asp-route-id="@Model.ProductID">Add</a></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
